:root {
  --primary-background-color: #50763F;
}

.tableContainer {
  margin: 20px 0 0 0;
  width: 100%;
  overflow-x: auto;
  border-radius: 10px;
  background-color: #50763F;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #50763F;
  }
  
  tbody tr:nth-child(even) {
    background-color: #50763F;
  }

  .topRight {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .filterContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--primary-background-color);
    border-radius: 10px;
    margin: 0 0 50px 0;

  }

  .filterContainer label {
    display: block;
    margin: 30px;
    padding: 20px;
    color: #eaeaea
  }

  .filterContainer input:hover {
    cursor: pointer;
  }
  
  .filterContainer input[type="date"] {
    padding: 8px;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    margin-left: 10px;
    background-color: #f9f9f9;
    color: rgb(40, 40, 40);
  }



  
.hamburgerMenu {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
}

.hamburgerIconContainer {
  background-color: rgba(50, 50, 50, 0.7);
  padding: 10px;
  border-radius: 50px;
}

.hamburgerIcon {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: 0.4s;
}

.hamburgerIconClose {
  transition: 0.4s;
  padding: 10px;
}

.hamburgerCross {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.sideMenu {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100%;
  background-color: #50763F;
  z-index: 999;
  padding-top: 60px; 
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
}

.sideMenu.open {
  left: 0; 
}

.sideMenu a {
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  display: block;
  transition: background 0.3s ease;
}

.sideMenu a:hover {
  background-color: #50763F;
}

.textareaTable{
  min-width: 1000px;
}