div{
    max-width: 800px; /* Set maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
  }

body{
  background-color: rgb(201, 35, 50);
  }


.topRight{
  position: absolute; 
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.loginNavbar{
  margin: 30px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 300px;
  align-items: center;
}

.applyButton{
  width: 150px;
  height: 60px;
  color: white;
}

.applyButtonLink{
  color: white;
  font-size: 18px;
}

.footer {
  width: 100vw; /* Full viewport width */
  background-color: #333;
  color: white;
  padding: 15px 20px;
  font-size: 14px;
  position: relative; /* Relative positioning */
  bottom: 0;
  left: 0;
  z-index: 1000; /* Ensure it appears above other content */
  margin-left: -50vw; /* Adjust for centering */
  left: 50%; /* Position the footer starting from the left edge */
  right: 0;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.footerLine1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.footerLeft, .footerRight {
  display: flex;
  align-items: center;
}

.footerLogo, .socialIcon {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  object-fit: cover;
  transition: transform 0.2s ease;
  border-radius: 50%;
}

.footerLine2 {
  text-align: center;
  margin-top: 10px;
}

.footerLine3 {
  text-align: center;
  margin-top: 10px;
}

.footerLine4 {
  text-align: center;
  margin-top: 10px;
}

.partnersIconsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Grid cells for larger icons */
  gap: 60px; /* Increased space between icons */
  justify-items: center; /* Center icons horizontally within their grid cells */
  margin-top: 10px;
}

.partnersIcon {
  width: 150px; /* Larger icon size */
  height: 150px; /* Ensure height matches width */
  object-fit: contain; /* Ensure the image fits within the given dimensions without distortion */
  transition: transform 0.2s ease;
}



.footerLine5 {
  text-align: center;
  margin-top: 20px; /* Space between the partner icons and the copyright text */
}
/* Wrapper for content to ensure spacing above the footer */
.content-wrapper {
  min-height: calc(100vh - 150px); /* Adjust the height based on footer height */
  padding-bottom: 50px; /* Space to ensure content is above the footer */
}