#pageContainer {
    padding: 40px;
}

.applicationInfo {
    background-color: #50763F;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.15);
}

.textareaContainer {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.928);
    margin-bottom: 16px;
    box-shadow: 0 0 10px 0 rgba(68, 68, 68, 0.388);
}

.emailLink{
    color: white;
    padding: 8px;
    font-weight: 300;
  }
  
  .emailLink:hover{
    text-decoration: underline;
  }

.sectionSubtext {
    font-size: 1em;
    color: #ddd;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .fileInputContainer {
    position: relative;           
    display: inline-block;        
  }
  
  .customFileInputLabel {
    display: flex;               
    justify-content: center;   
    align-items: center;          
    color: #fff;
    background-color: #50763F;
    border-radius: var(--border-radius);
    cursor: pointer;
    overflow: hidden;
    padding: 8px 16px;
    white-space: nowrap;       
    width: fit-content;
    z-index: 1;    
    font-size: 1.3rem;             
  }
  
  .fileInput {
    position: absolute;           
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;                
    cursor: pointer;
    z-index: 2;                 
  }
  
  .customFileInputLabel:hover {
    outline: #ffacac auto 2px;
    transition: background-color 0.3s;
  }
  
  .fileInfo {
    margin-top: 8px;
    font-size: 1rem;
    color: #555;
  }

.textareaContainer:hover {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.388);
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

textarea {
    position: relative;
    resize: none;
    width: 100%;
    min-height: 20vh;
    padding: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(50, 50, 50);
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
}

textarea:focus {
    cursor: text;
}

textarea::placeholder {
    color: rgb(0, 0, 0);
    font-style: italic;
    opacity: 0.3;
}

textarea::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #602c2c9b;
    border-radius: 5px;
}

textarea::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

#applicationContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 1.3em;
    color: white;
}

.dropdownLabel {
    margin-bottom: 10px;
}

.dropdownContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dropdownContainer:nth-last-child(2) {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.applicationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coverLetterInfo {
    min-height: 7em;
    padding: 0;
    margin: 0;
}

#selectionInfo {
    padding: 10px;
    transition: all 2s;
}

.applicationFormContainer {
    --primary-bg: #50763F;
    --primary-color: white;
    --secondary-color: white;
    --input-bg: white;
    --input-text: black;
    --border-radius: 5px;
    --padding: 10px;
    --margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 80px);
    max-width: 1000px;
    margin: 40px auto;
    box-sizing: border-box;
}

.outerContainer {
    background-color: #50763F;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
}

.dobContainer {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
}

.dobInput {
    margin-right: 8px;
    padding: 10px;
    width: 30%;  
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    background-color: var(--input-bg);
    color: var(--input-text);
    font-size: 0.8em;
}

.dobInput:last-child {
    margin-right: 0;
}

.outerContainerSection {
    width: 100%;
    background-color: #50763F;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    box-sizing: border-box;
}

.formContainer {
    background-color: var(--secondary-color);
    padding: 20px 60px 40px 60px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.formSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: var(--margin);
}

.formLabel {
    margin-left: 120px;
}

.formSection p {
    align-self: flex-start;
}

.checkboxContainer {
    display: flex;
    margin-top: 16px;
}

.checkboxInput {
    height: 20px;
    width: 20px !important;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    background-color: var(--input-bg);
    color: var(--input-text);
    font-size: 0.8em;
    margin-top: 6px;
}

.checkboxLabel {
    width: 100%;
    margin-left: 16px;
    color: var(--input-bg);
}

.formSection p {
    margin-bottom: 5px;
    font-size: 1em;
    color: var(--primary-color);
}

.requiredAsterisk {
    color: #d32f2f;
    margin-left: 4px;
}

.requiredLegend {
    width: 80%;
    font-size: 0.85em;
    color: var(--primary-color);
    margin-bottom: 16px;
}

.formInput {
    width: 100%;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    padding-left: var(--padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    background-color: var(--input-bg);
    color: var(--input-text);
    font-size: 0.8em;
}

.submitButton {
    margin-top: var(--margin);
    width: 100%;
}

.createUserPrompt {
    margin-top: var(--margin);
    color: var(--primary-color);
}

.createUserButton {
    margin-top: var(--margin);
}

.createUserLink {
    color: var(--secondary-color);
    text-decoration: none;
}

.navigationButtons {
    display: flex;
    margin: 20px 0;
    gap: 48px;
    justify-content: center;
    }

  .progressOverview {
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.progressOverview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    background-color: #50763F;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.progressStep {
    margin: 0 10px;
    position: relative;
    cursor: not-allowed;
}

.currentStep {
    font-weight: bold;
    text-decoration: underline;
}

.separator {
    margin: 0 5px;
    color: #888;
  }

  .clickableStep {
    cursor: pointer; 
  }
  

.clickableStep {
    cursor: pointer;
}

.applicationSectionHeader {
    font-size: 3em;
    text-align: center;
}

.footerEmailLink{
    color: white;
    font-weight: 600;
  }
  
  .footerEmailLink:hover{
    text-decoration: underline;
  }

@media (max-width: 768px) {
    .formContainer {
        padding: 15px 30px;
    }

    .checkboxLabel {
        width: 80%;
    }

    .formSection p {
        font-size: 0.9em;
    }

    .formInput {
        font-size: 0.9em;
    }

    .navigationButtons {
        flex-direction: column;
        gap: 10px;
    }


    .checkboxContainer {
        align-items: flex-start;
        margin-top: 16px;
    }

    .formLabel {
        margin-left: 0;
    }

    .progressOverview {
        flex-direction: column;
        align-items: center;
        font-size: 1em;
        padding: 10px;
    }
}

@media (max-width: 480px) {

    .formContainer {
        padding: 10px 20px;
    }

    .formSection {
        width: 90%;
    }

    .formSection p {
        font-size: 0.8em;
    }

    .formInput {
        font-size: 0.8em;
        padding: 8px;
    }

    .navigationButtons {
        flex-direction: column;
        gap: 8px;
    }

    .applicationSectionHeader {
        font-size: 1.5em;
        text-align: center;
    }

    .progressOverview {
        flex-direction: column;
        align-items: center;
        font-size: 1em;
        padding: 10px;
    }

    .progressStep {
        font-size: 0.9em;
        margin: 5px 0;
    }

    .checkboxContainer {
        align-items: flex-start;
        margin-top: 16px;
    }
}


.info-icon {
    display: inline-block;
    margin-right: 8px;
    background-color: #602c2c9b;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    position: relative;
    font-size: 14px;
  }

  .infoApplyingAs{
    margin-left: -20px !important;
  }

  .infoStudentCertificate{
    margin-left: -20px !important;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 125%;
    margin-left: -300px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .info-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  


  .phoneInputContainer {
    display: flex;
    align-items: center;
  }
  
  .countryCodeSelect {
    margin-right: 8px;
    padding: 10px;
    width: 50% !important;
  }
  
  .phoneNumberInput {
    flex: 1;
  }
  